@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  background-color: #2a282a;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logoNavBar {
  width: 200px;
  padding: 20px;
}

.headerBtnGroup {
  display: flex;
  gap: 20px;
  padding: 40px;
}

.navBtn {
  background-color: transparent;
  color: white;
  border: none;
  font-size: 11pt;
  padding: 5px;
}

.navBtn:hover {
  border-bottom: 2px solid black;
  cursor: pointer;
}

.sectionTitle {
  padding-top: 20px;
  font-size: 18pt;
  display: flex;
  justify-content: center;
}

.sectionDescription {
  display: flex;
  justify-content: center;
  font-size: 14pt;
  padding-bottom: 10px;
}

.mainCardImg {
  width: 100%;
  height: 180px;
  border-radius: 10px;
}

.main-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.footer {
  display: flex;
  background-color: #2a282a;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.logoFooter {
  width: 200px;
  padding: 20px;
}

.footerAnchor {
  color: white;
  text-decoration: none;
  padding: 20px;
}